@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  /* background-image: url('./assets/bg2.jpg'); */
}
html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  background-color: #35012C;
  background-image: url('./assets/bg1.jpg');

  height: 100vh;
  
  background-size: cover; 
  width: 100%;
}
.hero .clipped {
  height:118vh;
  width: 100vw;
  position:absolute;
  top:0;
}
.hero svg {
  height: 100vh;
  width:100vw;
}
.separator1 {
  background-image: url('./assets/bg22.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
}
.separator2 {
  background-image: url('./assets/bg3.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
}
.contactus {
  margin-top:-400px;
}
.hero .hero-wrapper  {
  margin: 100px auto;
}
.hero .hero-wrapper h2 {
  text-shadow: 0 0 2px rgba(255,255,255,.1), 0 0 2px rgba(255,255,255,.5);
  font-weight: bold;
}
.services svg {
  height: 0;
}

.wavebg {
  background-color: #35012C;
  clip-path:url("#clipWave2");
}

.footer {
  background-color: #35012C;
  min-height: 30rem;
}
.paralax-container {
  height: 100%;
}